{% comment %}
Usage inside a loop:
  {% include episode-card.html post=post %}
{% endcomment %}
<li class="episode-card">
  <strong><a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a></strong><br>
  {% if include.post.description %}
    <span class="muted">{{ include.post.description }}</span><br>
  {% endif %}
  {% if include.post.cover_image %}
    <img class="episode-cover" src="{{ include.post.cover_image | relative_url }}" alt="{{ include.post.title }}">
  {% endif %}
  {% if include.post.audio_url %}
    {% include audio.html src=include.post.audio_url %}
  {% endif %}
</li>
